@font-face {
  font-family: 'PT Serif';
  src: url('fonts/pt_serif-web-italic-webfont.woff2') format('woff2'),
       url('fonts/pt_serif-web-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/pt_serif-web-regular-webfont.woff2') format('woff2'),
       url('fonts/pt_serif-web-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
}


body {
  background: url('./assets/peach-tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


body {
  font-family: 'PT Serif', serif;
  font-size: calc(0.8em + 1vw);
  line-height: calc(1.4em + 1vh);
  max-width: 70ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.container {
  padding: 2em;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

a {
  color: #ed6a5a;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

li {
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

strong {
  font-style: italic;
}